/* body{ */
    /* background: url("../images/body_bg.png") no-repeat center center fixed;  */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
/* } */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
	/* background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*css for freelance starts*/
.navbar-inverse .navbar-brand {color: #fff;font-family: 'Dancing Script', cursive;font-size: 24px;}
.navbar-inverse .navbar-nav>li>a {color: #fff;font-family: 'Dancing Script', cursive !important;}
.navbar-inverse {background-color: #00A650;border-color: #00A650;padding-left: 15px;padding-right: 15px;}
.close {float: right;color: #fff;opacity: 1;}
/*.upcomingEvents{box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;margin-bottom: 20px;}*/
.upcomingEvents{margin-bottom: 20px;}
.zeroMargin{margin-left: 0px;margin-right: 0px;}
.boxShadow{box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;}
.carousel {position: relative;margin-left: -15px;margin-right: -15px;}
.carousel-caption {right: 20%;left: 20%;top: 30%;padding-bottom: 30px;background-color: rgba(0,0,0,0.8);}
.loginBox{position: absolute;top: 100px;left: 0px;right: 0px;margin: 0px auto;display: block;max-width:320px;}
.signupBox{position: absolute;top: 100px;left: 0px;right: 0px;margin: 0px auto;display: none;max-width:320px;}
.panel-info>.panel-heading {color: #fff;background-color: #37775e;border-color: #37775e;}
.panel-body{padding-top:30px;}
.forgotPassword{position: absolute;top: 15px;right: 20px;font-size: 12px;}
.forgotPassword > a {color:#fff;font-size:12px;text-decoration:none;}
.btn-info,.btn-success{background-color: #37775e;border-color: #37775e;}
.customGroup{margin-bottom:25px;}
.marginTop10px{margin-top:10px;}
.noAccount{border-top: 1px solid#888; padding-top:15px; font-size:85%}
.marginTop100px{margin-top:100px;}
.marginTop50px{margin-top:30px;}
.padding15px{padding: 15px;}
.iconDetails {float: left;height: 60px;width: 60px;padding: 10px;}
.registerButton{background-color: #333;border-color: #333;}
.zeroMargin{margin-left:0px;margin-right:0px;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {line-height: 1;height: 450px;}
.headerText{font-size: 24px;background: #00A650;padding: 3px 10px;color: #fff;margin-left: 0px;}
.borderToBottom{border-bottom: 1px solid #ccc;margin-top: 2px;}
.detailsBadge{cursor:pointer;color:grey;}
.badge{background: orangered;}
.eventDetails{display:none;}
.eventRow{display: flex;}
.fontSize26px{font-size:26px;}
.btn-register {color: #fff;background-color: transparent;border-color: #ccc;}
.btn-register:hover{color: #00A650;background-color: #fff;border-color: #ccc;}
/*hr {margin: 10px 0px 0px 0px;border: 0;border-top: 1px solid #ccc;}*/
.hr{border: 0;clear:both;display:block;width: 100%;background-color:#eee;height: 1px;}
.margin15px{margin-left: 15px;margin-right: 15px;}
.span3{display:flex;}
.modal-body{background: aliceblue;}
.modal-header {padding: 15px;border-bottom: 1px solid #e5e5e5;background: #00A650;color: #fff;}
/*css for freelance ends*/
.post-date {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 78px;
    margin-top: 10px;
    margin-right: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px;
    background-color: #00A650;
}
.date-text.bottom-divider {padding-top: 3px;border-bottom: 1px solid #fff;}
.date-text.top-divider {border-top: 1px solid #ccc;}
.date-text {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

/*image slide css starts*/
#mySidenav a {
    position: absolute;left: -104px;transition: 0.3s;padding: 15px;
    width: 140px;text-decoration: none;font-size: 20px;color: white;border-radius: 0 5px 5px 0;
}


#mySidenav{position: fixed;top:40px;}
#mySidenav a:hover {left: 0;}
#about {top: 20px;background-color: #3b5998;}
#blog {top: 80px;background-color: #2196F3;}
#projects {top: 140px;background-color: #34af23;}
#contact {top: 200px;background-color: #555}
.socialShareIcons{position: absolute;right:10px;top:20px;}
.sponsersList{display: flex;list-style-type: none;}
.sponsers{background: grey;color: #fff;margin-bottom: 10px;height: 40px;border-radius: 4px;}
.sponsersList li {padding: 10px 10px;}
/*image slide css ends*/

@media (max-width: 767px) {
 .row{margin-left: 0px;margin-right:0px; }
 .carousel-caption{font-size:11px;}
 .eventRow {margin-bottom: 15px;margin-left: -15px;margin-right: -15px;}
}

@media (min-width: 768px) and (max-width: 991px) {
    
}